@tailwind base;
@tailwind components;
@tailwind utilities;

.str-video__participant-details {
  color: #fff; /* #191F1A; */
}

.str-video__menu-container {
  color: #fff; /* #191F1A; */
}

.str-video__notification {
  color: #FF0000;
}

input[type="datetime-local"] {
  background-color: #191F1A;
  color: #FF0000;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-color: #FF0000;
}

